{% extends 'base.html' %}
{% block contenido_cambia %}
<h1>{{ categ }}</h1>
{% if categorias_post %}
<ul>
{% for post in categorias_post %}
    <li><a href="{% url 'articulodetalle' post.pk %}"> {{ post.titulo }} <a/> - {{ post.categorias }}
        - {{ post.autor.first_name }}
         {{ post.autor.last_name }}
        - {{ post.fechapost }}

        {% if user.is_authenticated %}
            {% if user.id == post.autor.id %}

            <a href="{% url 'editarpost' post.pk %}">Editar<a/> -
            <a href="{% url 'eliminarpost' post.pk %}">Eliminar<a/>

            {% endif %}
        {% endif %}
        <br/>
    {{ post.cuerpo | slice:"100" | safe }}</li>
{% endfor %}
{% else %}
<h3>Disculpe, esta página no existe</h3>
{% endif %}
</ul>
{% endblock %}