{% extends 'base.html' %}
{% block titulo %}
Elimimar
{% endblock %}
{% block contenido_cambia %}
{% if user.is_authenticated %}
    {% if user.id == post.autor.id %}
        <br><br/>
        <h3>Eliminar: {{post.titulo }}</h3>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>¿Estas seguro de querer eliminar este artículo?</strong><br/><br/>
        <button class="btn btn-secondary">Eliminar</button>
        </div>
    {% else %}
    <h3>Usted debe loguearse para eliminar el contenido.</h3>
    {% endif %}
{% else %}
<h3>Usted debe loguearse para eliminar el contenido.</h3>
{% endif %}
{% endblock %}